:root {
  // Colors
  --white: #fff;
  --black: #000;
  --green: green;

  --border-color: #eee;
  --border-focus-color: #1a73e8;

  // Parts
  --header-height: 36px;
  --toolbar-height: 40px;
  --formula-height: 24px;

  // Table
  --count-cell-background: #f8f9fa;
  --cell-border-color: #e2e3e3;
  --cell-color: #111;
  --count-cell-width: 40px;
  --min-cell-height: 20px;
  --min-cell-width: 40px;
  --cell-height: 24px;
  --cell-width: 120px;

  // Dashboard
  --db-header-height: 64px;
  --db-background: #dadce0;
  --db-create-size: 160px;


}
