.header{
  position: relative;
  height: var(--header-height);
  padding: 8px 4px;
  background: #f0f0f0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;

  .input{
    margin: 0;
    padding: 2px 7px;
    color: #000;
    border: 1px solid transparent;
    border-radius: 2px;
    height: 20px;
    font-size: 18px;
    line-height: 22px;
    outline: none;
    background: transparent;

    &:hover{
      border: 1px solid var(--border-color);
    }

    &:focus{
      border: 2px solid var(--border-focus-color);
    }
  }
  .btn{
    @include button(red);
  }
}
