<!doctype html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport'
        content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0'>
  <meta http-equiv='X-UA-Compatible' content='ie=edge'>
  <title>Excel by pure JavaScript</title>
  <link rel='shortcut icon' href='favicon-192.png'>
  <link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet'>
</head>
<body>
<div id='app' class='app-container'>
  <div class='dashboard'>
    <div class='dashboard__header'>
      <h1>Dashboard:</h1>
    </div>
    <div class='dashboard__content'>
      <div class='dashboard__new'>
        <div class='container'>
          <a class='dashboard__create'>
            New<br />Table
          </a>
        </div>
      </div>
      <div class='dashboard__tables'>
        <div class='container'>
          <div class='dashboard__tables__header'>
            <span>Name</span>
            <span>Opening date</span>
          </div>
          <ul class='dashboard__tables__list'>
            <li class='dashboard__tables__list__item'>
              <a href='#'>Table #1</a>
              <strong>23.05.2022</strong>
            </li>
            <li class='dashboard__tables__list__item'>
              <a href='#'>Table #1</a>
              <strong>23.05.2022</strong>
            </li>
            <li class='dashboard__tables__list__item'>
              <a href='#'>Table #1</a>
              <strong>23.05.2022</strong>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
